body
{
	background-color: #f6f5f5;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
}

section
{
	width: 100%;
	height: 95vh;
	background-image: url("img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


/* Estilo navegador */


nav
{ 
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: black ;
	color: white;
	box-shadow: 2px 2px 12px white;
	padding: 0px 5%;
	padding-top: 0;

	display: flex; 
	justify-content: space-between;
	position: fixed; 
	z-index: 2;
	
}



nav ul
{
	display: flex;
}

nav ul li a
{
	margin: 30px;
	font-family: myriad pro regular;
	color: white;
	font-size: 15px;
	font-weight: 700;
}