body
{
	background-color: #f6f5f5;
	background: linear-gradient(to left,  #139df8 , #f6f5f5   );
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
}

section
{
	width: 100%;
	height: 95vh;
	background-image: url("img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


/* Estilo navegador */


nav
{ 
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: black ;
	color: white;
	box-shadow: 2px 2px 12px white;
	padding: 0px 5%;
	padding-top: 0;

	display: flex; 
	justify-content: space-between;
	position: fixed; 
	z-index: 2;
	
}



nav ul
{
	display: flex;
}

nav ul li a
{
	margin: 30px;
	font-family: myriad pro regular;
	color: white;
	font-size: 15px;
	font-weight: 700;
}





/* principal div*/
.principal
{
	height: 600px;
	background-color: #ffffff;
	padding-top: 5%;
	border-radius: 20px;
	
} 
 .principal-textos
{
	width: 500px;
	margin: 50px 0px 0px 50px;
	
}




/** tentaiva IN */

section {
	background-color: white ;
	text-align: center;
	position: relative;
	height: 500px; 
	background: linear-gradient(#03b3f8,#90026d);
	border-radius: 20px;
}

.one{
	text-align: center;
	justify-content: center;
	z-index:auto;
}

.father{
	text-align: center;
	padding-top: 17%;
	font-size: 50px;
	color: white;
	font-family: calibri;
	font-weight: bold; 
	font-size:50px;
	line-height: 0px;
}


/* Contatos */

.box1, .box2, .box3, .box4
{
	width: 290px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items:  center;
	flex-direction: column;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 20px;
	background: white;
	float:left;
	margin-right: 5%;
	align-items: center;
	font-family: calibri;
	color: #423e3e;
	
} 

.conteudo-box 
{
	display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
	
}
 
.imgbg
{
	height: 100px; 
	position: relative;
	bottom: 20px;
	left: 67%;
	transform: translateX(-70%);

}



footer {
	padding-top: 30%;
	padding-right: 3%;
}



/* Seção footer */

footer
{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

footer p
{
	font-family: calibri;
}

footer p:nth-child(1)
{
	font-weight: bold;
	color: #191919;
	line-height: 10px;
	font-size: 30px;
}

footer p:nth-child(2)
{
	font-size: 16px;
	color: #7e7d7d;
	width: 500px;
	text-align: center;
}

.copy
{
	color: #565555;
	font-size: 13px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

footer {
	padding-top: 0.5%;
}